.git
.gitignore
.gitlab-ci.yml
*.md
.dockerignore
**/Dockerfile
**/Dockerfile.*
.env
.env.*
.env.example
.env.local
**/.DS_Store
**/coverage.*
**/coverage.html
**/test/**
**/*_test.go
**/mocks/**
**/tmp/**
**/*.tmp
**/*.swp
**/.idea/**
**/.vscode/**
**/node_modules/**
**/vendor/**
